<%= form_for([@place, @place.open_times.build]) do |f| %>
  <% if !@open_time.nil? && @open_time.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@open_time.errors.count, "error") %> prohibited this open_time from being saved:</h2>

      <ul>
      <% @open_time.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <h3>
    Set Available times for:
    <% if @open_time.nil? %>
      <%= @place.name %>
    <% else %>
      <%= @open_time.place.name %>
    <% end %>
  </h3>

  <div class="field">
    <%= f.label :start_time %><br>
    <%= f.datetime_select :start_time, default: @open_time.start_time %>
  </div>
  <div class="field">
    <%= f.label :end_time %><br>
    <%= f.datetime_select :end_time, default: @open_time.end_time %>
  </div>
  <div class="field">
    <%= f.hidden_field :place_id %>
  </div>
 
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
