<%= form_for(@open_time) do |f| %>
  <% if @open_time.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@open_time.errors.count, "error") %> prohibited this open_time from being saved:</h2>

      <ul>
      <% @open_time.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <h3>For: <%= @open_time.place.name %></h3>
  <div class="field">
    <%= f.label :start_time %><br>
    <%= f.datetime_select :start_time %>
  </div>
  <div class="field">
    <%= f.label :end_time %><br>
    <%= f.datetime_select :end_time %>
  </div>
  <div class="field">
    <%= f.hidden_field :place_id %>
  </div>
 
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
