<p id="notice"><%= notice %></p>

<h1>Listing Open Times</h1>

<table>
  <thead>
    <tr>
      <th>Start time</th>
      <th>End time</th>
      <th>ID</th>
      <th>Place</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @open_times.each do |open_time| %>
      <tr>
        <td><%= open_time.start_time.to_formatted_s(:long_ordinal) %></td>
        <td><%= open_time.end_time.to_formatted_s(:long_ordinal) %></td>
        <td><%= open_time.id %></td>
        <td><%= open_time.place.name %></td>
        <td><%= link_to 'Show', place_open_time_path(open_time.id, open_time.place_id) %></td>
        <td><%= link_to 'Edit', "/#" %></td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Open time', new_place_open_time_path %>
