<p id="notice"><%= notice %></p>

<p>
  <strong>Start time:</strong>
  <%= @open_time.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @open_time.end_time %>
</p>

<p>
  <strong>Place:</strong>
  <%= @open_time.place.name %>
</p>


<%= link_to 'Edit', edit_open_time_path(@open_time) %> |
<%= link_to 'Back', open_times_path %>
