<p id="notice"><%= notice %></p>

<p>
  <strong>Start time:</strong>
  <%= @booking.start_time.to_formatted_s(:long_ordinal) %>
</p>

<p>
  <strong>End time:</strong>
  <%= @booking.end_time.to_formatted_s(:long_ordinal) %>
</p>

<p>
  <strong>Place:</strong>
  <%= @booking.place.name %>
</p>

<p>
  <strong>User:</strong>
  <%= "#{@booking.guest.first_name} #{@booking.guest.last_name}"%>
</p>

<%= link_to 'Edit', edit_booking_path(@booking) %> |
<%= link_to 'Back', bookings_path %>
