<%= form_for(@user_profile) do |f| %>
  <% if @user_profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_profile.errors.count, "error") %> prohibited this user_profile from being saved:</h2>

      <ul>
      <% @user_profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %><br>
    <%= f.text_area :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br>
    <%= f.text_area :last_name %>
  </div>
  <div class="field">
    <%= f.label :telephone_number %><br>
    <%= f.text_area :telephone_number %>
  </div>
  <div class="field">
    <%= f.label :owner %><br>
    <%= f.check_box :owner %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
