<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @user_profile.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user_profile.last_name %>
</p>

<p>
  <strong>Telephone number:</strong>
  <%= @user_profile.telephone_number %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @user_profile.owner %>
</p>

<%= link_to 'Edit', edit_user_profile_path(@user_profile) %> |
<%= link_to 'Back', user_profiles_path %>
