<div class="container"> 
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Place:</strong>
    <%= @picture.place.name %>
  </p>
  <p>
    <strong>Img url:</strong>
    <%= @picture.img_url %>
  </p>
  <% if @picture.img_url %>
      <%= image_tag(@picture.img_url, class: "img-responsive") %>
  <% end %>


  <%= link_to 'Edit', edit_place_picture_path(@picture.place_id, @picture.id) %> |
  <%= link_to 'Back', place_path(@picture.place_id) %>
</div>