<p id="notice"><%= notice %></p>


<div class="container">

  <h1>Listing Places</h1>

  <div class="row">
    <div class="col-lg-8">

      <% @places.each do |place| %>
        <!-- Info on Place -->
        <%= image_tag("http://placehold.it/400x300", class: "img-responsive") %>
        <p>Name: <%= place.name %></p>
        <p>Location: <%= place.location %></p>
        <div>Description: <%= simple_format(place.description) %></div>

        <!-- Links -->
        <div class='well'>
          <%= link_to 'Show', place %>
          <%= link_to 'Edit', edit_place_path(place) %>
          <%= link_to 'Destroy', place, method: :delete, data: { confirm: 'Are you sure?'} %>
        </div><!-- /.well -->

        <hr>
      <% end %>

    </div><!-- /.col-lg-8 -->

    <div class="col-lg-4">
      
      <div class="well">
        <h3>Search Well</h3>
      </div>

      <div class="well">
        <h3>Other Well</h3>
      </div>

    </div>

  </div><!-- /.row -->

  <%= link_to 'New Place', new_place_path %>

</div><!-- /.container -->


<br>

