<div class="container"> 
  <div class="row">  
    <div class="col-lg-8"> 
      <p id="notice"><%= notice %></p>

      <h2><%= @place.name %></h2>

      <h4 class="service-heading">Description:</h4>
      <p>
        <%= @place.description %>
      </p>

      <h4 class="service-heading">Location:</h4>
      <p>
        <%= @place.location %>
      </p>

      <div>
        <%= render partial: "open_times/form" %>  
      </div>

      <div>
        <%= month_calendar do |date| %>
          <%= date %>
        <% end %>
      </div>

      <%= link_to 'Edit', edit_place_path(@place) %> |
      <%= link_to 'Back', places_path %>
    </div><!-- /.col-md-8 -->
  </div><!-- /.row -->
</div><!-- /.container -->
